// Navigation styles
@import '../utilities/functions';
@import '../utilities/mixins';
@import '../utilities/variables';

.navbar {
  padding: spacing(sm) spacing(md);
  background-color: $navbar-color;

  .navbar-nav {
    gap: spacing(lg);
    align-items: center;

    .nav-link {
      padding: 0;
      display: flex;
      align-items: flex-end;
      gap: spacing(sm);
      cursor: pointer;

      img {
        width: $icon-width-navbar;
        align-self: center;
      }

      .ms-Icon--Add,
      .ms-Icon--Upload,
      .ms-Icon--SyncToPC,
      .ms-Icon--Flow {
        color: $secondary-color;
      }

      .ms-Icon--ChevronDown {
        font-size: font-size(sm);
      }
    }
  }

  #auth-container {
    margin-left: auto;
    display: flex;
    gap: spacing(md);
    align-items: center;
  }

  @media screen and (max-width: 576px) {
    padding: 0;

    button {
      margin: spacing(sm) spacing(md);
    }

    .navbar-collapse {
      @include border(top, 1px);
    }

    .navbar-nav {
      gap: 0;

      .nav-item {
        padding: spacing(xs) spacing(md);

        &:hover {
          background-color: $navbar-hover-color;
        }
      }
    }
  }
}