// Navigation styles
@import '../utilities/variables';

.navbar {
  padding: $spacing-sm $spacing-md;
  background-color: $navbar-color;

  .navbar-nav {
    gap: $spacing-lg;

    .nav-link {
      padding: 0;
      display: flex;
      align-items: center;
      gap: $spacing-sm;

      img {
        width: $icon-width-navbar;
      }

      .ms-Icon--Add,
      .ms-Icon--Upload,
      .ms-Icon--SyncToPC,
      .ms-Icon--Flow {
        color: $secondary-color;
      }

      .ms-Icon--ChevronDown {
        font-size: $font-size-sm;
      }
    }
  }

  @media screen and (max-width: 576px) {
    padding: 0;

    button {
      margin: $spacing-sm $spacing-md;
    }

    .navbar-collapse {
      border-top: 1px solid $border-color;
    }

    .navbar-nav {
      gap: 0;

      .nav-item {
        padding: $spacing-xs $spacing-md;

        &:hover {
          background-color: $navbar-hover-color;
        }
      }
    }
  }
}