// Table Styles
@import '../utilities/variables';

.table {
  thead {
    border-bottom: 2px solid $border-color;

    th {
      font-size: $font-size-sm;
      font-weight: normal;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $border-color;

      td {
        vertical-align: middle;

        &:nth-child(3),
        &:nth-child(4) {
          color: $text-light;
          font-size: $font-size-sm;
        }
      }

      .ms-Icon--Glimmer {
        color: $secondary-color;
        font-size: $font-size-xs;
        position: absolute;
        margin: -$spacing-sm;
      }
    }
  }

  th,
  td {
    img {
      width: $icon-width;
    }

    .ms-Icon--ChevronDown {
      margin-left: $spacing-sm;
    }

    .ms-Icon--Add {
      margin-right: $spacing-sm;
    }
  }

  @media screen and (max-width: 576px) {
    tbody,
    tr {
      display: block;
    }

    thead {
      display: none;
    }

    tbody {
      tr {
        border: 1px solid $border-color;
        border-radius: $border-radius;
        margin-bottom: $spacing-md;

        td {
          display: flex;
          padding: $spacing-sm;
          border: none;
          align-items: center;

          &:before {
            min-width: 110px;
            color: $text-light;
            font-style: italic;
            font-weight: 600;
          }

          &:nth-child(1) {
            background-color: $navbar-color;
          }

          &:nth-child(5) {
            display: none;
          }

          &:nth-child(1)::before {
            content: "File Type";
          }

          &:nth-child(2)::before {
            content: "Name";
          }

          &:nth-child(3)::before {
            content: "Modified";
          }

          &:nth-child(4)::before {
            content: "Modified By";
          }

          img {
            margin-left: auto;
          }
        }

        .ms-Icon--Glimmer {
          position: relative;
          margin: -$spacing-md 0 0 0;
        }
      }
    }
  }
}