// Define variables
$primary-color: #0078d4;
$secondary-color: #f25278;
$neutral-light: #f5f5f5;
$neutral-gray: #d9d9d9;
$text-color: #595959;
$text-light: #7a7a7a;
$navbar-color: #f4f4f4;
$navbar-hover-color: #cccccc;
$border-color: #e0e0e0;

$spacing-scale: (
    none: 0,
    xs: 0.25,
    sm: 0.5,
    md: 1,
    lg: 1.5,
    xl: 2,
    xxl: 2.5
);

$font-size-scale: (
    xs: 10px,
    sm: 12px,
    base: 14px,
    lg: 16px,
    xl: 20px,
    xxl: 28px
);

$border-radius: 4px;

$icon-width-navbar: 14px;
$icon-width: 18px;